{
  "title": {{ onepassword_item.title | to_json }},
  "category": "{{ onepassword_item.category }}",
  "fields": [
    {% for field in _onepassword_resolved_fields %}
    {
      "id": "{{ field.id }}",
      "type": "{{ field.type | upper }}",
      {% if field.purpose is defined %}"purpose": "{{ field.purpose | upper }}",
      {% endif %}"label": "{{ field.label }}",
      "value": {{ field.value | default('') | to_json }}
    }{% if not loop.last %},{% endif %}

    {% endfor %}
  ]
}
