#!/bin/sh

export OP_SERVICE_ACCOUNT_TOKEN="[service account token]"

GIT_AUTHOR_NAME=$(git config --global user.name)
export GIT_AUTHOR_NAME

GIT_COMMITTER_NAME=$(git config --global user.name)
export GIT_COMMITTER_NAME

export GIT_AUTHOR_EMAIL="[email]"
export GIT_COMMITTER_EMAIL="[email]"

OP_VAULT_ID=$(op vault get VAULT_NAME --format json | jq -r '.id')
export OP_VAULT_ID

SYSADMIN_PUBLIC_KEY=$(op read "op://${OP_VAULT_ID}/ITEM_TITLE/public key")
export SYSADMIN_PUBLIC_KEY

ANSIBLE_PUBLIC_KEY=$(op read "op://${OP_VAULT_ID}/ITEM_TITLE/private key?ssh-format=openssh")
export ANSIBLE_PUBLIC_KEY