proxmox_gateway = ""                  # "0.0.0.0"
proxmox_image_datastore = ""          # e.g. "local"
proxmox_vm_ct_datastore =             # e.g. "local-lvm"
kate_email = ""                       # "user@email.com"
kate_public_key = ""                  # "ssh-ed25519 string"