#cloud-config
---
hostname: ${hostname}
packages:
  - qemu-guest-agent
  - curl
  - sudo
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
users:
  - name: ansible
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ansible_public_key}
  - name: kate
    shell: /bin/bash
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${sysadmin_public_key}
