proxmox_ip_address = ""                                   # "0.0.0.0"
proxmox_api_token = ""                                    # "user@realm!token_id=token_secret"
proxmox_endpoint = ""                                     # "https://IP:8006/"
proxmox_node_1 = ""                                       # "proxmox"
proxmox_bridge_port = ""                                  # "enp5s0"
proxmox_import_enabled = false                            # true/false
proxmox_root_password = ""                                # "mypassword"
proxmox_mac_prefix = ""                                   # "AA:BB:CC"
proxmox_pihole_root_password = ""                         # "mypassword"
proxmox_homepage_root_password = ""                       # "mypassword"
proxmox_nginx_proxy_manager_root_password = ""            # "mypassword"
proxmox_ubuntu_server_2024_template_root_password = ""    # "mypassword"
proxmox_gitlab_root_password = ""                         # "mypassword"
proxmox_bookstack_root_password = ""                      # "mypassword"